<div class="container my-container">
  <div class="card d-flex justify-content-md-center">
    <div class="card-header text-center">
      <h3>S'inscrire</h3>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorsMesg.length>0">
        <div *ngFor="let msg of errorsMesg">
          <span> {{ msg }} </span>
        </div>
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nom"
          name="nom"
          [(ngModel)]="entrepriseDto.nom"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Code fiscal"
          name="codeFiscal"
          [(ngModel)]="entrepriseDto.codeFiscal"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          [(ngModel)]="entrepriseDto.email"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Adresse 1"
          name="adresse1"
          [(ngModel)]="adresseDto.adresse1"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Adresse 2"
          name="adresse2"
          [(ngModel)]="adresseDto.adresse2"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Ville"
          name="ville"
          [(ngModel)]="adresseDto.ville"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Code postal"
          name="codePostale"
          [(ngModel)]="adresseDto.codePostale"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pays"
          name="pays"
          [(ngModel)]="adresseDto.pays"
        />
      </div>
      <div class="mb-3">
        <textarea
          type="text"
          class="form-control"
          placeholder="Description"
          name="description"
          [(ngModel)]="entrepriseDto.description"
        >
        </textarea>
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Numero de telephone"
          name="numTel"
          [(ngModel)]="entrepriseDto.numTel"
        />
      </div>
      <div class="mb-3 d-flex justify-content-md-between">
        <a [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
        <button type="button" class="btn btn-primary" (click)="inscrire()">
          <i class="fa-solid fa-check"></i>&nbsp;S'inscrire
        </button>
      </div>
    </div>
  </div>
</div>
