<div class="col">
    <div class="row m-3">
      <div class="col-md-8 p-0"><h1>Listes des categories</h1></div>
      <div class="col-md-4 p-0 text-end">
        <app-button-action (clickEvent)="nouvelleCategorie()"></app-button-action>
      </div>
    </div>
    <div class="col m-3">
      <div class="row custom-border mb-3 p-3">
        <div class="col-md-3 custom-border-right">
            Code categorie
        </div>
        <div class="col-md-3">
            Description categorie
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 text-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
  