<div class="row mb-1 custom-border">
  <div class="col-md-2 custom-border-right ">
    <img src="assets/product.png" style="width: 100px" height="100px" />
  </div>

  <!--  details article -->
  <div class="col-md-4 custom-border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Nom</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Prenom</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-phone blue-color"></i>
        </div>
        <div class="col-md-11">00000000000043</div>
      </div>
    </div>
  </div>

  <!--  details categorie -->
  <div class="col-md-3 custom-border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-home blue-color"></i>
        </div>
        <div class="col-md-11">Adresse 1 Adresse 2</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-map-marker-alt blue-color"></i>
        </div>
        <div class="col-md-11">12334 Ville</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-globe-europe blue-color"></i>
        </div>
        <div class="col-md-11">Pays</div>
      </div>
    </div>
  </div>

  <!--  buttons actions-->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt blue-color"> </i>
          Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt blue-color"> </i>
          Supprimer
        </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-link">
          <i class="fas fa-list-alt blue-color"> </i>
          Details
        </button>
      </div>
    </div>
  </div>
</div>
