<div class="row custom-border m-2 bg-white">
  <div class="col-md-2 custom-border-right">
    <img src="assets/product.png" style="width: 100px" height="100px" />
  </div>
  <!--  details article -->
  <div class="col-md-4 custom-border-right blue-color">
    <div class="col ">
      <div class="row ">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Code article</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">designation</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-dollar-sign blue-color"></i>
        </div>
        <div class="col-md-11">prix HT</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-dollar-sign blue-color"></i>
        </div>
        <div class="col-md-11">prix TTC</div>
      </div>
    </div>
  </div>

  <!--  details categorie -->
  <div class="col-md-3 custom-border-right text-center">
    <div class="row blue-color">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <h3>Stock actuel</h3>
          </div>
          <div class="col-md-12">
            <h3>139</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  buttons actions-->
  <div class="col-md-3 text-center">
    <div class="row ">
      <div class="col">
        <button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-brands fa-stack-overflow"> </i>
          Correction de stock
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Correction de stock</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Quantite:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <select name="" id="" class="form-control" >
              <option value="">Correction positive</option>
              <option value="">Correction positive</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Annuler</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
      </div>
    </div>
  </div>
</div>

