<div class="row mb-1 custom-border">
    <!--  details article -->
    <div class="col-md-3 custom-border-right">
      <div class="row text-center">
        <div class="col-md-11">
          Code Article
        </div>
      </div>
    </div>
    <div class="col-md-3 custom-border-right">
      <div class="row text-center">
        <div class="col-md-11">
          Designation article
        </div>
      </div>
    </div>
  
    <!--  details categorie -->
    <div class="col-md-2 custom-border-right">
      <div class="row">
        <div class="col-md-12 text-center">
          6
        </div>
      </div>
    </div>
    <div class="col-md-2 custom-border-right">
      <div class="row">
        <div class="col-md-12 text-center">
          12,5
        </div>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="row ">
        <div class="col-md-12 text-center">
          73
        </div>
        </div>
    </div>
  </div>
  
