<div class="row mb-1 custom-border">
  <!--  details article -->
  <div class="col-md-3 custom-border-right">
    <div class="row text-center">
      <div class="col-md-11">
        <h5>12.12.2023</h5>
      </div>
    </div>
  </div>

  <!--  details categorie -->
  <div class="col-md-3 custom-border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>139</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 custom-border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Sortie</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="row text-center">
        <h5>COMMANDE_CLIENT</h5>
      </div>
  </div>
</div>
