<div class="row">
  <div class="col-md-9">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
      <span class="input-group-text" id="basic-addon1"
        ><i class="fas fa-search"></i
      ></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-10 text-end">
        <span>Bonjour {{connectedUser.nom}}</span>
      </div>
      <div class="col-md-2">
        <a href="javascript:void(0)" [routerLink] ="['/profil']">
          <img src="favicon.ico" class="rounded-circle" />
        </a>
      </div>
    </div>
  </div>
</div>
