<div class="d-flex">
  <div class="p-2 flex-fill" *ngIf ="isImporterVisible">
    <button type="button" class="btn btn-warning">
      <i class="fa fa-cloud-upload-alt"></i>
      Importer
    </button>
  </div>
  <div class="p-2 flex-fill" *ngIf ="isExporterVisible">
    <button type="button" class="btn btn-success">
      <i class="fa fa-cloud-download-alt"></i>
      Exporter
    </button>
  </div>
  <div class="p-2" *ngIf ="isNouveauVisible">
    <button type="button" class="btn btn-primary" (click)="bouttonNouveauClick() ">
      <i class="fa fa-plus"></i>&nbsp;
      Nouveau
    </button>
  </div>
</div>
