<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2 me-2">
      <div class="col">
        <div class="ms-2 mb-3 mt-3">
          <h5>Gestion de stock V2.0</h5>
        </div>
        <div>
          <app-menu></app-menu>
        </div>
      </div>
    </div>
    <div class="card col col-md-10 ps-0 pe-0 background-grey border-none">
      <div class="col ps-0 pe-0 d-flex flex-column justify-content-between">
        <div class="card min-height-80 mb-2 p-3">
          <app-header></app-header>
        </div>
        <div class="card mb-2" style="min-height: 480px">
          <router-outlet></router-outlet>
        </div>
        <div class="card min-height-80">footer</div>
      </div>
    </div>
  </div>
</div>
