<div class="row m-2">
  <div class="card col-md-4 text-center me-3">
    <div class="col">
      <div>
        <img
          src="assets/product.png"
          class="rounded-circle"
          width="200px"
          height="200px"
        />
      </div>
      <div class="mb-2">
        <h2>Nom Prenom</h2>
        <small class="form-text text-muted">Adresse, ville, 1234</small>
      </div>
    </div>
  </div>
  <div class="card col-md-7">
    <form>
      <div class="form-group mb-2 mt-2">
        <input
          type="email"
          class="form-control"
          placeholder="Ancien mot de passe"
          name="ancienMotDePasse"
          [(ngModel)]="ancienMotDePasse"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="password"
          class="form-control"
          placeholder="Nouveau mot de passe"
          name="changerMotDePasse"
          [(ngModel)]="changerMotDePasseDto.motDePasse"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Confirmer mot de passe"
          name="confirmerMotDePasse"
          [(ngModel)]="changerMotDePasseDto.confirmeMotDePasse"
        />
      </div>
    </form>
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button class="btn btn-danger me-3" (click)="cancel()">
          <i class="fas fa-ban"></i>
          &nbsp;Annuler
        </button>
        <button class="btn btn-primary me-3" (click)="changerMotDePasseUtilisateur()">
          <i class="fas fa-save"></i>
          &nbsp;Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
