<div class="row m-2">
  <div class="card col-md-4 text-center me-3">
    <div class="col">
      <div>
        <img
          src="assets/product.png"
          class="rounded-circle"
          width="200px"
          height="200px"
        />
      </div>
      <div>
        <h2>Nom Prenom</h2>
        <small class="form-text text-muted">Adresse, ville, 1234</small>
      </div>
      <div class="col mb-3">
        <button type="button" class="btn btn-primary me-3" ><i class="fas fa-pencil-alt"></i>&nbsp;Modifier</button>
        <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()"><i class="fas fa-lock"></i>&nbsp;Changer mot de passe</button>
      </div>
    </div>
  </div>
  <div class="card col-md-7">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Nom complet</th>
                <td>nom prenom</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>adresse@email.ci</td>
            </tr>
            <tr>
                <th scope="row">Telephone</th>
                <td>0752587259626</td>
            </tr>
            <tr>
                <th scope="row">Adresse</th>
                <td>Adresse, ville, 1234</td>
            </tr>
            <tr>
                <th scope="row">Entreprise</th>
                <td>Nom entreprise</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
