<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let menu of menuProperties">
    <h2 class="accordion-header" id="{{ menu.id }}">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + menu.id"
        aria-expanded="false"
        aria-controls="collapse"
      >
      <i class="{{menu.icon}}"></i>&nbsp;
        {{ menu.titre }}
      </button>
    </h2>
    <div
      id="collapse{{ menu.id }}"
      class="accordion-collapse collapse"
      [attr.aria-labelledby]="'menu' + menu.id"
      data-bs-parent="#accordionExample"
      *ngFor="let sousMenu of menu.sousMenu"
    >
      <div class="accordion-body p-0" >
        <ul class="list-group" >
          <li class="list-group-item" [ngClass]="{'text-light bg-primary': sousMenu.active, '': !sousMenu.active}" >
            <a  class="text-decoration-none" [ngClass]="{'text-light ': sousMenu.active, '': !sousMenu.active}" href="javascript:void(0)" (click)="navigate(sousMenu)">
              <i class="{{sousMenu.icon}}"></i>
              {{ sousMenu.titre }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
