<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0"><h1>Commande {{origin}}s </h1></div>
    <div class="col-md-4 p-0 text-end">
      <app-button-action 
      [isImporterVisible]="false"
      (clickEvent)="nouvelleCommande()"></app-button-action>
    </div>
  </div>
  <div class="col m-3">
    <div class="p-3 mb-2 bg-light border">
      <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item border border-light">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed d-block p-0 bg-light"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="true"
              aria-controls="flush-collapseOne"
            >
              <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
            style="max-height: 300px; overflow-y: scroll"
          >
            <div class="accordion-body">
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
              <app-detail-cmd></app-detail-cmd>
            </div>
          </div>
          <div class="card bg-light">
            <div class="row m-1">
              <div class="col-md-6 text-start">
                <h4>12 article commandes</h4>
              </div>
              <div class="col-md-6 text-end"><h4>commande: 123</h4></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12 text-center">
    <app-pagination></app-pagination>
  </div>
</div>
