<div class="row custom-border m-2 bg-white">
  <div class="col-md-2 custom-border-right">
    <img src="assets/product.png" style="width: 100px" height="100px" />
  </div>
  <!--  details article -->
  <div class="col-md-4 custom-border-right blue-color">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Nom</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Prenom</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-dollar-sign blue-color"></i>
        </div>
        <div class="col-md-11">0133939337893</div>
      </div>
    </div>
  </div>

  <!--  details categorie -->
  <div class="col-md-3 custom-border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-qrcode blue-color"></i>
        </div>
        <div class="col-md-10">CMD-13388</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-calendar-check blue-color"></i>
        </div>
        <div class="col-md-10">12.38.23573</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-cart-arrow-down blue-color"></i>
        </div>
        <div class="col-md-10">LIVREE</div>
      </div>
    </div>
  </div>

  <!--  buttons actions-->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link text-decoration-none">
          <i class="fas fa-pencil-alt blue-color"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-6 text-center p-0">
        <button type="button" class="btn btn-link text-decoration-none">
          <i class="fas fa-trash-alt blue-color"> </i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
