<div class="col m-4">
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2>Nouvelle categorie</h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Code categorie"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-danger m-3" (click)='cancel()'>
      <i class="fas fa-ban"></i>&nbsp; Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp; Enregister
    </button>
  </div>
</div>
