<div class="row mb-1 custom-border">
  <div class="col-md-2 custom-border-right ">
    <img src="assets/product.png" style="width: 100px" height="100px" />
  </div>

  <!--  details article -->
  <div class="col-md-4 custom-border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Code article</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">designation</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-dollar-sign blue-color"></i>
        </div>
        <div class="col-md-11">prix HT</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-dollar-sign blue-color"></i>
        </div>
        <div class="col-md-11">prix TTC</div>
      </div>
    </div>
  </div>

  <!--  details categorie -->
  <div class="col-md-3 custom-border-right">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code categorie</div>
          <div class="col-md-12">Description categorie</div>
        </div>
      </div>
    </div>
  </div>

  <!--  buttons actions-->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt blue-color"> </i>
          Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt blue-color"> </i>
          Supprimer
        </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-link">
          <i class="fas fa-list-alt blue-color"> </i>
          Details
        </button>
      </div>
    </div>
  </div>
</div>
