<div class="col m-4">
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2>Nouvelle commande {{origin}} </h2>
    </div>
    <div class="row custom-border p-3">
      <div class="col-md-5 custom-border-right">
        <form>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Code commande"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Date Commande"
            />
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Selectionner un client</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </form>
      </div>
      <div class="col-md-5 custom-border-right">
        <div class="col">
          <div class="row">
            <div class="col-md-1">
              <i class="fas fa-info-circle blue-color"></i>
            </div>
            <div class="col-md-11">Nom</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-1">
              <i class="fas fa-info-circle blue-color"></i>
            </div>
            <div class="col-md-11">Prenom</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-1">
              <i class="fas fa-phone-alt blue-color"></i>
            </div>
            <div class="col-md-11">153817070</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-1">
              <i class="fas fa-hourglass-half blue-color"></i>
            </div>
            <div class="col-md-11">EN PREPARATION</div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <img
          src="assets/product.png"
          class="rounded-circle"
          width="100 px"
          height="100 px"
        />
      </div>
    </div>
    <div class="row mt-2 custom-border">
      <form class="row g-2 mb-3 ms-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Code article" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Quantite" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Prix unitaire" />
        </div>
        <div class="col">
          <button type="button" class="btn btn-success">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </form>
    </div>
    <div
      class="row mt-2 p-3 custom-border"
      style="max-height: 300px; overflow-y: scroll"
    >
      <div>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
      </div>
    </div>
    <div class="row mt-2 p-3 custom-border">
      <div class="col-md-12 text-end">
        <h3>Total de la commande: 135,9</h3>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-danger m-3">
      <i class="fas fa-ban"></i>&nbsp; Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp; Enregister
    </button>
  </div>
</div>
