<div class="col m-4">
  <div class="col-md-12 mb-4">
    <img
      src="assets/product.png"
      class="rounded-circle"
      width="100 px"
      height="100 px"
    />
  </div>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2>
        <i class="fas fa-info-circle blue-color"></i>&nbsp; Information de
        l'article
      </h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Code article"
            />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Designation" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Prix unitaire HT"
            />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Taux TVA" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Prix unitaire HT"
            />
          </div>
          <div class="col">
            <select class="form-control" id="example">
              <option value="">Selectionner une categorie</option>
              <option value="">Select One</option>
              <option value="">Select One</option>
              <option value="">Select One</option>
              <option value="">Select One</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-danger m-3" (click)="cancel()">
      <i class="fas fa-ban"></i>&nbsp; Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp; Enregister
    </button>
  </div>
</div>
